/*****************************************
* INITIALISATION & ELEMENTS GLOBAUX
*****************************************/
:root {
    --YELLOW: #FFD15B;
    --GREY: #7A7A7A;
    --LIGHTGREY: #c6c6c6;
    --BLACK: #1B1B1B;
    --BACKGROUND: #EDEDED;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

li{
    list-style-type: none;
    line-height: 2;
}
/*********
* SCROLLBAR
**********/
/* Pour navigateur tels que chrome, safari, ... */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background-color: #fff;
}
::-webkit-scrollbar-thumb {
background-color: var(--GREY);
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background-color: var(--YELLOW);
}
/* Pour navigateur tels que IE et Microsoft Edge ... */
::-ms-scrollbar {
    width: 10px;
}
::-ms-scrollbar-track {
background-color: #fff;
}
::-ms-scrollbar-thumb {
background-color: var(--GREY);
border-radius: 10px;
}
::-ms-scrollbar-thumb:hover {
background-color: var(--YELLOW);
}

/*****************************************
* BODY
*****************************************/
body{
    margin:0 auto;
    max-width: 1440px;
    font-style: normal;
    font-weight: 400;    
}
    /***********************************
    * HEADER
    ***********************************/
.header {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 40px 69px; 
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(assets/images/img-header.jpeg);
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
          
}

        /*********
        * LOGO
        *********/
.logoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.455rem;
}
header img{
    width: 180px;
}
.circleOutside{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    
}
.circleInside{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2.5px solid black;
    background-color: white;
}

        /************************
        * HEADER CONTENT
        ************************/
.headerContent{
    margin:auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.813rem;    
}       
        /*********
        * BARRE DE RECHERCHE
        *********/
.headerTextContent{
    color: var(--YELLOW);
    font-family: 'Anton', sans-serif;
    font-size: 2.75rem;
    overflow: hidden;
    text-align: center;
    width: 720px;  
}

        /*********
        * LOUPE RECHERCHE
        
        *********/
.headerSearchBar{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 954px;
    height: 4.25rem;
}
.headerSearchBar input{
    width: 100%;
    height: 100%;
    border-radius: 11px;
    padding: 25px 35px;
    font-family: 'Manrope',sans-serif;;
    font-size: 1rem;
    color: var(--GREY);
    margin-right: -10px;
}

.headerSearchBar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url(./assets/icons/ClosingCross.svg) no-repeat center center;
    background-size: contain;
    right: 70px;
    z-index: 1;
    position: absolute;    
}
.headerSearchBar input[type="search"]::-webkit-search-cancel-button:hover {
    color: var(--YELLOW)
}
 


.glassContainer{
    position: absolute;
    height: 51px;
    width: 51px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
       
}
.glassContainer:hover{
    background-color: var(--YELLOW);
    color: black;
}
.fa-magnifying-glass{
    
    font-size: 2rem;
}

    /***********************************
    * MAIN
    ***********************************/
.main{
    background-color: var(--BACKGROUND);
    height: 100%;
    width: 100%;
    padding: 10px 6.25rem;
}
        /************************
        * FIRSTSECTION_SEARCH_CRITERIAS
        ************************/
            /************************
            * CRITERIA SELECTION DISPLAY
            ************************/
.firstSection_searchCriterias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
                /*********
                * INGREDIENTS
                *********/
                /*********
                * APPAREILS
                *********/
                /*********
                * USTENSILES
                *********/

.ChoiceBoxesContainer{
    display: flex;
    flex-direction: row;
    gap: 4.125rem;
    /* overflow: hidden;  */
}

.ChoiceBoxes{
    width: 12.188rem;
    min-height: 50px;
    background-color: white;
    border-radius: 11px;    
    position: relative;
    /* overflow: hidden;  */
      
}

.ChoiceBoxesContent{     
    /* gap: 50px; */
    position: absolute;
    width: 100%;
    background-color: white;
    height: 50px;
    overflow: hidden;
    /* padding: 1rem; */
    border-radius: 11px;
    font-family: 'Manrope';
    z-index: 1000;
    
}

.ChoiceBoxesFirstLign{
    display: flex;     
    justify-content: space-between;    
    color: var(--BLACK);
    margin-bottom: 20px;
    padding: 1rem;
}

.ChoiceBoxesFirstLign:hover {
    background-color: var(--YELLOW);

}

.rectangleContainer{
    display: flex;
    border: 1px solid var(--GREY);
    width: 200px;
    height: 36px;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 5px;
    margin: 0 10px;
}

.rectangleContainer input{
    border: none;
    outline: none;
    width: 100%;
    color: var(--GREY);
}

.rectangleContainer input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: url(./assets/icons/ClosingCross.svg) no-repeat center center;
    background-size: contain;    
  }
  
.specificSearch{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


/*********
* LA LOUPE SPECIFIQUE
code trouvé sur codePen
*********/

.ico-mglass {
    position:relative;
    display:inline-block;
    background: #fff;
    border-radius: 30px;
    height: 10px;
    width: 10px;
    border: 2px solid var(--GREY);
    
    &:after {
      content: "";
      height: 2px;
      width: 6px;
      background: var(--GREY);
      position:absolute;
      top:7px;
      left:5px;
      transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
    }  
}

.listSuggestions{
    max-height: 140px;
    overflow: hidden;
    overflow-y: scroll;
    font-style: 'manrope', sans-serif;
    color: var(--BLACK);
    font-size: 0.875rem;
    
}

.listSuggestions li{
    padding-left: 1rem;
}
.listSuggestions li:hover{
    background-color: var(--YELLOW);
}

.surligne {
    background-color: var(--YELLOW);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  /* Ajoutez un style pour la croix */
  .croix {
    margin-right: 15px; /* Ajoutez une marge à la croix */
    cursor: pointer;
  }

  .croix:hover{
    color: white;
  }


.active {
    height: auto;        
}

.rotate {
    transform: rotate(180deg);
}
            /************************
            * RECEPIES COUNTS DISPLAY
            ************************/
.RecipeCount{
    color: var(--BLACK);
    font-size: 1.313rem;
    font-family: 'Anton', sans-serif;
}
        /************************
        * SECONDSECTION_SELECTED CRITERIAS
        ************************/ 
            /************************
            * CRITERIA SELECTED DISPLAY
            ************************/
.secondSection_selectedCriterias{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;         
}           
                /*********
                * INGREDIENTS
                *********/
                /*********
                * APPAREILS
                *********/
                /*********
                * USTENSILES
                *********/
.DisplayChoiceBoxes{
    display: flex;
    width: 12.5rem;
    flex-wrap: nowrap;
    background-color: var(--YELLOW);
    color: black;
    padding: 1.063rem 1.125rem;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 1.313rem;
    font-family: 'Manrope',sans-serif;
}
.DisplayChoiceBoxes span {
    max-width: 8.75rem;
}

.DisplayChoiceBoxesClose{
    font-weight: bolder;
}


.DisplayChoiceBoxesClose:hover {
    color: white;
    cursor: pointer;
}


        /************************
        * THIRDSECTION_RECIPES DISPLAY IN GRID
        ************************/
.thirdSection_recipesDisplay{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.688rem;
    margin-top: 2.688rem;
}
                /*********
                * ARTICLES_RECIPE CARD
                *********/
                    
.recipeCard{    
    width: 23.75rem;
    height: 46rem;
    position: relative;
    border-radius: 21px;
    background-color: white;    
    
}
                    /*********
                    * RECIPE PICTURE
                    *********/
.recipeCard img{
    width: 100%;
    height:33%;
    object-fit: cover;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
}
                        /*********
                        * RECIPE COOKING TIME
                        *********/
.cookingTimeContainer{
    display: flex;
    justify-content: center;
    width: 4rem;
    background-color: var(--YELLOW);
    border-radius: 14px;
    position: absolute;
    right: 1.313rem;
    top: 1.313rem;
    padding: 5px 15px;    
}
                
                    /*********
                    * RECIPE TEXT CONTEXT
                    *********/
.recipeTextContent{
    padding: 32px 25px 61px;
    overflow-y: scroll;
    max-height: 29.8rem;
}


                        /*********
                        * RECIPE TEXT CONTEXT _ TITLE
                        **********/
.recipeTextContent h1{
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    margin-bottom: 29px;
}
.recipeContainer{
    display: flex;
    font-family: 'Manrope', sans-serif;
    flex-direction: column;
    gap: 32px;
    
}                      
                        /*********
                        * RECIPE TEXT CONTEXT _ DEFINITION
                        **********/
.recipeTextContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--GREY);
    letter-spacing: 1.08px;
} 
.recipeTextContainer p{
    font-size: 0.875rem;
    color: var(--BLACK)
}   
                        /*********
                        * RECIPE TEXT CONTEXT _ INGREDIENTS
                        **********/
.recipeIngredientContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.recipeIngredientBoxContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.313rem;
}
.ingredientsBox{
    display: flex;
    flex-direction: column;
}
.IngredientsBoxTitle{
    font-weight: 500;
    font-family: 'Manrop', sans-serif;
    font-size: 0.875rem;
    color: var(--BLACK);
    line-height: normal;
    margin-bottom: 0.313rem;
}
.IngredientsBoxInfo{
    color: var(--GREY);
    font-family: 'Manrop', sans-serif;
    font-size: 0.875rem;
    line-height: normal;
}
.no-recipe-message{
    color: var(--YELLOW);
    font-family: 'Anton', sans-serif;
    font-size: 2.75rem;
    overflow: hidden;
    text-align: center;
    /* permet d'afficher le message sur les trois colonnes et donc de centrer */
    grid-column: span 3; 
}                        